---
title: "Play-Bootstrap, a Play Framework library for Bootstrap"
layout: default_b4
permalink: /
version: "1.3-P26-B4"
uri: /
tab: index
---
<div class="header-with-logo">
  <div class="header-logo">
    <img src="{{ site.baseurl }}/assets/images/logo.gif" width="100">
  </div>
  <div class="header-title">
    <h1 id="play-bootstrap">Play-Bootstrap</h1>
    <p class="lead">Play Framework library for Bootstrap</p>
  </div>
</div>
<p>
  This is a collection of input helpers and field constructors for
  <a href="http://www.playframework.com" target="_blank">Play Framework</a> to render
  <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> HTML code.
</p>
<div id="github-buttons">
  <iframe src="https://ghbtns.com/github-btn.html?user=adrianhurt&amp;repo=play-bootstrap&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160" height="30"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=adrianhurt&amp;repo=play-bootstrap&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="156" height="30"></iframe>
  <img src="{{ site.baseurl }}/assets/images/please_star.png" style="z-index:-1">
</div>

<div class="my-5">
  {% include buymeacoffe_button.html %}
</div>

{% include index_new_features.html %}




<h2 id="features">Features</h2>




<h3 id="simple-to-use">Simple to use</h3>
<p>
  It tries to follow the same rules as the helper library from Play Framework.
</p>
<div class="highlight">
<pre><code>@b3.vertical.form(routes.Application.login) { implicit vfc =&gt;
  @b3.email( loginForm("email"), '_label -&gt; "Email", 'placeholder -&gt; "example@mail.com" )
  @b3.password( loginForm("password"), '_label -&gt; "Password", 'placeholder -&gt; "Password" )
  @b3.checkbox( loginForm("remember"), '_text -&gt; "Remember me", 'value -&gt; true )
  @b3.submit('class -&gt; "btn btn-default"){ Sign in }
}</code></pre>
</div>




<h3 id="horizontal-vertical-inline">Horizontal, vertical or inline forms</h3>
<p>
  There is a different field constructor for each kind of form. Normally, you will declare one of them as default for each of your templates, but you can mix them if you want.
</p>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#vertical">Vertical</a></li>
  <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#horizontal">Horizontal</a></li>
  <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#inline">Inline</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active fade show active" id="vertical">
      <div class="bd-example"><form action="/" method="GET">
        <div id="email_field" class="form-group "><label for="email">Email</label> <input id="email" class="form-control" name="email" type="email" value="" placeholder="example@mail.com" /></div>
        <div id="password_field" class="form-group "><label for="password">Password</label> <input id="password" class="form-control" name="password" type="password" value="" placeholder="Password" /></div>
        <div id="remember_field" class="form-group ">
        <div class="form-check"><input id="remember" class="form-check-input" name="remember" type="checkbox" value="true" /> <label class="form-check-label" for="remember"> Remember me </label></div>
        </div>
        <div class="form-group "><button class="btn btn-secondary" type="submit"> Sign in </button></div>
        </form>
    </div>
    <div class="highlight">
<pre><code>@b3.vertical.form(routes.Application.index) { implicit vfc =&gt;
  @b3.email( fooForm("email"), '_label -&gt; "Email", 'placeholder -&gt; "example@mail.com" )
  @b3.password( fooForm("password"), '_label -&gt; "Password", 'placeholder -&gt; "Password" )
  @b3.checkbox( fooForm("remember"), '_text -&gt; "Remember me", 'value -&gt; true )
  @b3.submit('class -&gt; "btn btn-default"){ Sign in }
}</code></pre>
    </div>
  </div>
  <div class="tab-pane fade in" id="horizontal">
      <div class="bd-example"><form action="/" method="GET">
        <div id="email_field" class="form-group row "><label class="col-form-label col-md-2" for="email">Email</label>
        <div class="col-md-10"><input id="email" class="form-control" name="email" type="email" value="" placeholder="example@mail.com" /></div>
        </div>
        <div id="password_field" class="form-group row "><label class="col-form-label col-md-2" for="password">Password</label>
        <div class="col-md-10"><input id="password" class="form-control" name="password" type="password" value="" placeholder="Password" /></div>
        </div>
        <div id="remember_field" class="form-group row ">
        <div class="col-md-10 offset-md-2">
        <div class="form-check"><input id="remember" class="form-check-input" name="remember" type="checkbox" value="true" /> <label class="form-check-label" for="remember"> Remember me </label></div>
        </div>
        </div>
        <div class="form-group row">
        <div class="col-md-10 offset-md-2"><button class="btn btn-secondary" type="submit"> Sign in </button></div>
        </div>
        </form>
    </div>
    <div class="highlight">
<pre><code>@b3.horizontal.form(routes.Application.index, "col-md-2", "col-md-10") { implicit hfc =&gt;
  @b3.email( fooForm("email"), '_label -&gt; "Email", 'placeholder -&gt; "example@mail.com" )
  @b3.password( fooForm("password"), '_label -&gt; "Password", 'placeholder -&gt; "Password" )
  @b3.checkbox( fooForm("remember"), '_text -&gt; "Remember me", 'value -&gt; true )
  @b3.submit('class -&gt; "btn btn-default"){ Sign in }
}</code></pre>
    </div>
  </div>
  <div class="tab-pane fade" id="inline">
      <div class="bd-example"><form class="form-inline " action="/" method="GET">
        <div id="email_field" class="form-group "><label class="sr-only" for="email">Email</label> <input id="email" class="form-control" name="email" type="email" value="" placeholder="example@mail.com" /></div>
        <div id="password_field" class="form-group "><label class="sr-only" for="password">Password</label> <input id="password" class="form-control" name="password" type="password" value="" placeholder="Password" /></div>
        <div id="remember_field" class="form-group ">
        <div class="form-check"><input id="remember" class="form-check-input" name="remember" type="checkbox" value="true" /> <label class="form-check-label" for="remember"> Remember me </label></div>
        </div>
        <div class="form-group "><button class="btn btn-secondary" type="submit"> Sign in </button></div>
        </form>
    </div>
    <div class="highlight">
<pre><code>@b3.inline.form(routes.Application.index) { implicit ifc =&gt;
  @b3.email( fooForm("email"), '_hiddenLabel -&gt; "Email", 'placeholder -&gt; "example@mail.com" )
  @b3.password( fooForm("password"), '_hiddenLabel -&gt; "Password", 'placeholder -&gt; "Password" )
  @b3.checkbox( fooForm("remember"), '_text -&gt; "Remember me", 'value -&gt; true )
  @b3.submit('class -&gt; "btn btn-default"){ Sign in }
}</code></pre>
    </div>
  </div>
</div>




<h3 id="every-helper-you-need">Every helper you need</h3>
<p>
  Inputs, checkboxes, radio buttons, selects, input-groups, custom inputs, ... You have the essential input helpers you could need. But this library is for the community, so you can collaborate or ask for others.
</p>
<p>
  See the list of available helpers <a href="{{ site.baseurl }}/docs#helpers" target="_blank">here</a>.
</p>




<h3 id="coherence-consistency">Coherence and consistency</h3>


<h4 id="boolean-attributes">Boolean attributes</h4>
<p>
  Sometimes the HTML syntax could be confusing. For example, all of the following codes are equivalent:
</p>
<div class="highlight">
<pre><code>&lt;input type="text" name="foo" disabled&gt;
&lt;input type="text" name="foo" disabled="true"&gt;
&lt;input type="text" name="foo" disabled="false"&gt;
&lt;input type="text" name="foo" disabled="blah"&gt;</code></pre>
</div>
<p>
  For that reason, <code>b3</code> helpers will simply remove the attribute with false values and put <code>"true"</code> value for true ones. So you can do:
</p>
<div class="highlight">
<pre><code>@b3.text( fooForm("foo"), '_label -&gt; "A maybe disabled text", 'disabled -&gt; maybeTrueFunction(...) )</code></pre>
</div>
<p>
  See more about <a href="{{ site.baseurl }}/docs#arguments-boolean" target="_blank">Boolean arguments</a>.
</p>


<h4 id="readonly">Readonly attribute for checkboxes, radio buttons and selects</h4>
<p>
  Another frustrating and typical situation occurs when you try to use the <code>readonly</code> attribute for checkboxes, radio buttons or selects. It isn't implemented, so you usually need to add an extra
  <code>&lt;input type="hidden"&gt;</code> if you need to send its value within your POST request. For that cases, <code>b3</code> helpers for checkboxes, radio buttons and selects automatically add that input for you when the attribute <code>readonly</code> is present.
</p>
<p>
  Additionally, in that cases, when you add the <code>readonly</code> attribute, <code>b3</code> helpers will also add the <code>disabled</code> attribute. Then, Bootstrap will avoid their interactability.
</p>
<p>
  See more <a href="{{ site.baseurl }}/docs#helpers-disabled-readonly" target="_blank">About disabled and readonly attributes</a>.
</p>




<h3 id="html5-validation">HTML5 data form validation</h3>
<p>
  If a field has <strong>validation constraints</strong> they will be added automatically as
  <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Data_form_validation" target="_blank">HTML5 data form validation</a>.
</p>
<p>
  For example, if you have this form
</p>
<div class="highlight">
<pre><code>val validationForm = Form(tuple(
  "username" -&gt; nonEmptyText(maxLength = 20),
  "email" -&gt; email,
  "age" -&gt; number(min = 18, max = 99),
  "color" -&gt; nonEmptyText.verifying(pattern("^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$".r))
))</code></pre>
</div>
<p>
  The constraints will be automatically added as you can see here:
</p>
<div class="bs-example">
  <div class="row example-html5-validation">
    <div class="col-md-6">
      <div class="form-group  " id="username_field">
        <label class="control-label" for="username">Username</label>
        <input type="text" id="username" name="username" value="" aria-describedby="username_info_0" maxlength="20" required="true" class="form-control">
        <span id="username_info_0" class="help-block">A username between 1 and 20 characters</span>
      </div>
      <div class="form-group  " id="email_field">
        <label class="control-label" for="email">Email</label>
        <input type="email" id="email" name="email" value="" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  " id="age_field">
        <label class="control-label" for="age">Age</label>
        <input type="number" id="age" name="age" value="" aria-describedby="age_info_0" min="18" max="99" class="form-control">
        <span id="age_info_0" class="help-block">From 18 to 99 years old</span>
      </div>
      <div class="form-group  " id="color_field">
        <label class="control-label" for="color">Hexadecimal color</label>
        <input type="text" id="color" name="color" value="" aria-describedby="color_info_0" required="true" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" class="form-control">
        <span id="color_info_0" class="help-block">Format is #CCC or #CCCCCC</span>
      </div>
    </div>
  </div>
</div>
<div class="highlight">
<pre><code>@b3.text( validationForm("username"), '_label -&gt; "Username", '_help -&gt; "A username between 1 and 20 characters" )
@b3.email( validationForm("email"), '_label -&gt; "Email" )
@b3.number( validationForm("age"), '_label -&gt; "Age", '_help -&gt; "From 18 to 99 years old" )
@b3.text( validationForm("color"), '_label -&gt; "Hexadecimal color", '_help -&gt; "Format is #CCC or #CCCCCC" )</code></pre>
</div>
<p>
  See more about <a href="/docs#arguments-validation" target="_blank">Validation arguments</a>.
</p>




<h3 id="multifield">Multifield support</h3>
<p>
  Sometimes you may need two or more fields within the same line in a horizontal or vertical form (for a set of checkboxes, a date range, ...). With the <code>b3.multifield</code> you will be able to create your own custom helpers in a very easy way.
</p>
<div class="bd-example"><form class="form-horizontal " action="/" method="GET">
  <div class="form-group row"><label class="col-form-label col-md-2">Inline</label>
  <div class="col-md-10">
  <div class="multi-checkbox-list inline">
  <div class="form-check"><input id="foo" class="form-check-input" maxlength="20" name="foo" type="checkbox" value="true" /> <label class="form-check-label" for="foo"> Foo </label></div>
  <div class="form-check"><input id="bar" class="form-check-input" name="bar" type="checkbox" value="true" /> <label class="form-check-label" for="bar"> Bar </label></div>
  <div class="form-check"><input id="beer" class="form-check-input" name="beer" type="checkbox" value="true" /> <label class="form-check-label" for="beer"> Beer </label></div>
  </div>
  <small class="form-text text-muted">Mark what you want</small></div>
  </div>
  <div class="form-group row"><label class="col-form-label col-md-2">Date range</label>
  <div class="col-md-10">
  <div class="input-daterange input-group" data-date-start-date="10-11-2014"><input id="dateStart" class="form-control" name="dateStart" type="text" value="15-11-2014" />
  <div class="input-group-prepend input-group-append"><span class="input-group-text">to</span></div>
  <input id="dateEnd" class="form-control" name="dateEnd" type="text" value="31-12-2014" /></div>
  <small class="form-text text-muted">Select a date range from 10-11-2014</small></div>
  </div>
  <div class="form-group row"><label class="col-form-label col-md-2">New task</label>
  <div class="col-md-10">
  <div class="input-text-checkbox input-group">
  <div class="input-group-prepend">
  <div class="input-group-text">
  <div class="form-check"><input id="fooSelected" class="form-check-input position-static" name="fooSelected" type="checkbox" value="true" /></div>
  </div>
  </div>
  <input id="foo" class="form-control" maxlength="20" name="foo" type="text" value="" placeholder="a foo value" /></div>
  </div>
  </div>
  </form>
</div>
<div class="highlight">
<pre><code>@b3.multiCheckbox(
(fooForm("foo"), Map('_text -&gt; "Foo")),
(fooForm("bar"), Map('_text -&gt; "Bar")),
(fooForm("beer"), Map('_text -&gt; "Beer"))
)('_label -&gt; "Inline", 'class -&gt; "multi-checkbox-list inline", '_help -&gt; "Mark what you want")

@b3.datepicker( fooForm("dateStart"), 'value -&gt; "15-11-2014" )(
fooForm("dateEnd"), 'value -&gt; "31-12-2014" )(
'_label -&gt; "Date range", "data-date-start-date" -&gt; "10-11-2014", '_help -&gt; "Select a date range from 10-11-2014" )

@b3.textWithCheckbox( fooForm("foo"), 'placeholder -&gt; "a foo value" )( fooForm("fooSelected") )('_label -&gt; "New task" )</code></pre>
</div>
<p>
  <strong>Note:</strong> these helpers (<code>b3.multiCheckbox</code>, <code>b3.datepicker</code> and <code>b3.textWithCheckbox</code>) are not part of the library, but <a href="{{ site.baseurl }}/multifield" target="_blank">here</a> it is explained how to easily implement them (or just copy them).
</p>
<p>
  See more about <a href="{{ site.baseurl }}/multifield" target="_blank">Multifield</a> support.
</p>



<h3 id="auto-i18n">Auto internationalization</h3>
<p>
  Most of arguments used in helpers are automatically internationalized. So you can simply write:
</p>
<div class="highlight">
<pre><code>@b3.text( loginForm("username"), '_label -> "field.username.label", '_help -> "field.username.help" )
@b3.email( loginForm("email"), '_label -> "field.email.label", 'placeholder -> "field.email.placeholder" )
@b3.password( loginForm("password"), '_label -> "field.pwd.label", 'placeholder -> "field.pwd.placeholder" )
@b3.checkbox( loginForm("remember"), '_text -> "field.remember", 'value -> true )</code></pre>
</div>



<h3 id="aria">With ARIA attributes</h3>
<p>
  The <a href="http://www.w3.org/TR/wai-aria/" target="_blank">WAI-ARIA</a> attributes are a very helpful tool for accesibility. However we know it could be difficult and boring to integrate it everywhere within your web. Because of that, <strong>the library
		will do automatically for you</strong> for any field constructor.
</p>
<p>
  See more about <a href="{{ site.baseurl }}/docs#aria" target="_blank">ARIA attributes</a> support.
</p>


{% include index_installation.html %}




<h2 id="examples">Examples</h2>
<p>
  This web is an example. You can see on the top menu an example of each kind of form (
  <a href="{{ site.baseurl }}/vertical">vertical</a>, <a href="{{ site.baseurl }}/horizontal">horizontal</a>,
  <a href="{{ site.baseurl }}/inline">inline</a>) and one more for a single view with
  <a href="{{ site.baseurl }}/mixed">different mixed forms</a>.
</p>
<p>
  You can check the whole code on <a href="https://github.com/adrianhurt/play-bootstrap" target="_blank">Github</a>.
</p>
<p>
  More examples:
</p>
<ul>
  <li><a href="https://github.com/adrianhurt/play-multidomain-auth" target="_blank">Play Multidomain Auth</a>
  </li>
</ul>




<h2 id="customization">Customization</h2>
<p>
  This is a very simple library, and you have all the code on
  <a href="https://github.com/adrianhurt/play-bootstrap" target="_blank">Github</a>. So you can use it as inspiration and create your own field constructors and/or helpers.
</p>




<h2 id="changelog">Change Log</h2>
<p>
  You can check the change log <a href="/changelog">here</a>.
</p>