<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar_collapse" aria-controls="navbar_collapse" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
  <a class="navbar-brand {% if page.tab == 'index' %}active{% endif %}" href="{{ site.baseurl }}/">Play-Bootstrap</a>

  <div class="collapse navbar-collapse" id="navbar_collapse">
    <ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown {% assign my_array = "vertical|horizontal|inline|mixed" | split: "|" %}{% if my_array contains page.tab %}active{% endif %}">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Styles <span class="caret"></span></a>
				<div class="dropdown-menu" role="menu">
					<a class="dropdown-item {% if page.tab == 'vertical' %}active{% endif %}" href="{{ site.baseurl }}/vertical">Vertical</a>
					<a class="dropdown-item {% if page.tab == 'horizontal' %}active{% endif %}" href="{{ site.baseurl }}/horizontal">Horizontal</a>
					<a class="dropdown-item {% if page.tab == 'inline' %}active{% endif %}" href="{{ site.baseurl }}/inline">Inline</a>
        </div>
			</li>
			<li class="nav-item {% if page.tab == 'multifield' %}active{% endif %}"><a class="versioned nav-link" href="{{ site.baseurl }}/multifield">Multifield</a></li>
			<li class="nav-item {% if page.tab == 'extendit' %}active{% endif %}"><a class="nav-link" href="{{ site.baseurl }}/extend-it">Extend it!</a></li>
			<li class="nav-item {% if page.tab == 'docs' %}active{% endif %}"><a class="nav-link" href="{{ site.baseurl }}/docs">Documentation</a></li>
    </ul>
		<ul class="navbar-nav">
      <li class="nav-item dropdown">
        {% assign version = site.data.versions | where: "code", page.version | first %}
        <a href="#" id="current-version" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          {% include version_badge.html version=version explicit=true %}
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" role="menu">
          {% assign versions = site.data.versions | where: "legacy", false %}
          {% for version in versions %}
            <a class="dropdown-item text-right" version="{{ version.code }}" href="{{ page.uri }}">{% include version_badge.html version=version %}</a>
					{% endfor %}
          <a class="dropdown-item legacy text-right" href="/changelog">View legacy versions</a>
        </div>
      </li>
      <li class="nav-item github"><a class="nav-link" href="https://github.com/adrianhurt/play-bootstrap" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
		</ul>
  </div>
</nav>