<div class="card bg-light">
	<div class="card-header" role="tab" id="migration_{{ include.id }}" class="collapsed" data-toggle="collapse" href="#collapse_{{ include.id }}" aria-expanded="false" aria-controls="collapse_{{ include.id }}">
		{{ include.id }} Migration guide <i class="fa fa-caret"></i>
	</div>
	<div id="collapse_{{ include.id }}" class="collapse" role="tabpanel" aria-labelledby="migration_{{ include.id }}">
		<div class="card-body">
      		{{ include.text | markdownify }}
		</div>
	</div>
</div>