@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)
@argsMap = @{ args.toMap }
@containsReadonly = @{ argsMap.contains('readonly) }
@readonly = @{ ArgsMap.isTrue(argsMap, 'readonly) }
@disabled = @{ readonly || ArgsMap.isTrue(argsMap, 'disabled) }

@input(field, Args.withDefault(args, 'disabled -> disabled):_*) { (id, name, value, htmlArgs) =>
	<div class="checkbox @if(containsReadonly){checkbox-group} @if(disabled){disabled}">
		<label for="@id">
			<input type="checkbox" id="@id" name="@name" value="true" @if(value == Some("true")){checked} @toHtmlArgs(htmlArgs)>
			@argsMap.get('_text)
		</label>
		@if(containsReadonly) {
			<input type="hidden" name="@name" value="@{value.getOrElse("false")}" @if(!disabled){disabled}/>
		}
	</div>
}
