@(inputType: String, field: play.api.data.Field, args: (Symbol,Any)*)(inputGroup: Html => Html)(implicit handler: b3.B3FieldConstructor, lang: play.api.i18n.Lang)
@inputFormGroup(field, withFeedback = true, withLabelFor = true, Args.withDefault(args, 'class -> "form-control")) { fieldInfo =>
	@inputGroup {
	    <input type="@inputType" id="@fieldInfo.id" name="@fieldInfo.name" value="@fieldInfo.value" @toHtmlArgs(fieldInfo.innerArgsMap)>
		@if(fieldInfo.hasFeedback) {
			<span class="glyphicon @fieldInfo.feedbackIcon form-control-feedback" aria-hidden="true"></span>
			<span id="@fieldInfo.ariaFeedbackId" class="sr-only">(@fieldInfo.status)</span>
		}
	}
}