@(field: play.api.data.Field, options: Seq[(String, Any)], args: (Symbol, Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)
@argsMap = @{ args.toMap }
@readonly = @{ ArgsMap.isTrue(argsMap, 'readonly) }
@disabled = @{ readonly || ArgsMap.isTrue(argsMap, 'disabled) }

@readonlyWrapper(name: String, value: Option[String])(content: Html) = {
	@if(argsMap.contains('readonly)) {
		<div class="radio-group">
			@content
			<input type="hidden" name="@name" value="@{value.getOrElse(options(0)._1)}" @if(!disabled){disabled}/>
		</div>
	} else { @content }
}
@displayInput(labelClass: String, v: (String, Any), id: String, name: String, value: Option[String], htmlArgs: Map[Symbol,Any]) = {
	<label class="@labelClass" for="@(id)_@v._1">
		<input type="radio" id="@(id)_@v._1" name="@name" value="@v._1" @if(value == Some(v._1)){checked} @toHtmlArgs(htmlArgs)>
		@v._2
	</label>
}
@input(field, Args.withDefault(args, 'disabled -> disabled):_*) { (id, name, value, htmlArgs) =>
	@readonlyWrapper(name, value) {
		@if(ArgsMap.isTrue(argsMap, '_inline)) {
			@options.map { v =>
				@displayInput(labelClass = "radio-inline" + (if (disabled) " disabled" else ""), v, id, name, value, htmlArgs)
			}
		} else {
			@options.map { v =>
				<div class="radio @if(disabled){disabled}">
					@displayInput(labelClass = "", v, id, name, value, htmlArgs)
				</div>
			}
		}
	}
}