@(field: play.api.data.Field, options: Seq[(String, Any)], args: (Symbol, Any)*)(implicit handler: b3.B3FieldConstructor, lang: play.api.i18n.Lang)
@argsMap = @{ args.toMap }
@readonly = @{ ArgsMap.isTrue(argsMap, 'readonly) }
@disabled = @{ readonly || ArgsMap.isTrue(argsMap, 'disabled) }

@readonlyWrapper(name: String, value: Option[String])(content: Html) = {
	@if(argsMap.contains('readonly)) {
		<div class="radio-group">
			@content
			<input type="hidden" name="@name" value="@{value.getOrElse(options(0)._1)}" @if(!disabled){disabled}/>
		</div>
	} else { @content }
}
@displayInput(labelClass: String, v: (String, Any), id: String, name: String, value: Option[String], innerArgsMap: Map[Symbol,Any]) = {
	<label class="@labelClass" for="@(id)_@v._1">
		<input type="radio" id="@(id)_@v._1" name="@name" value="@v._1" @if(value == Some(v._1)){checked} @toHtmlArgs(innerArgsMap)>
		@v._2
	</label>
}
@inputFormGroup(field, withFeedback = false, withLabelFor = false, Args.withDefault(args, 'disabled -> disabled)) { fieldInfo =>
	@readonlyWrapper(fieldInfo.name, fieldInfo.value) {
		@if(ArgsMap.isTrue(argsMap, '_inline)) {
			@options.map { v =>
				@displayInput(labelClass = "radio-inline" + (if (disabled) " disabled" else ""), v, fieldInfo.id, fieldInfo.name, fieldInfo.value, fieldInfo.innerArgsMap)
			}
		} else {
			@options.map { v =>
				<div class="radio @if(disabled){disabled}">
					@displayInput(labelClass = "", v, fieldInfo.id, fieldInfo.name, fieldInfo.value, fieldInfo.innerArgsMap)
				</div>
			}
		}
	}
}