@(inputValue: Any, label: Any, args: (Symbol, Any)*)(implicit extraInfo: (Boolean, Boolean, String, String, Option[String], Map[Symbol,Any]))
@displayInput(labelClass: String, id: String, name: String, value: Option[String], innerArgsMap: Map[Symbol,Any]) = {
	<label class="@labelClass" for="@(id)_@inputValue">
		<input type="radio" id="@(id)_@inputValue" name="@name" value="@inputValue"@if(value == Some(inputValue)){ checked} @toHtmlArgs(innerArgsMap ++ args.toMap)>
		@label
	</label>
}
@defining(extraInfo) { case (inline, disabled, id, name, value, innerArgsMap) =>
	@if(inline) {
		@displayInput(labelClass = "radio-inline" + (if (disabled) " disabled" else ""), id, name, value, innerArgsMap)
	} else {
		<div class="radio@if(disabled){ disabled}">
			@displayInput(labelClass = "", id, name, value, innerArgsMap)
		</div>
	}
}