@(field: play.api.data.Field, options: Seq[(String,String)], args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@argsMap = @{ args.toMap }
@readonly = @{ ArgsMap.hasBool(argsMap, 'readonly) }
@disabled = @{ readonly || ArgsMap.hasBool(argsMap, 'disabled) }
@displayInput(labelClass: String, v: (String, String), id: String, name: String, value: Option[String], htmlArgs: Map[Symbol,Any]) = {
	<label class="@labelClass" for="@(id)_@v._1">
		<input type="radio" id="@(id)_@v._1" name="@name" value="@v._1" @if(value == Some(v._1)){checked} @toHtmlArgs(htmlArgs)>
		@v._2
	</label>
}
@input(field, Args.withDefault(args, 'disabled -> disabled):_*) { (id, name, value, htmlArgs) =>
	@if(ArgsMap.hasBool(argsMap, '_inline)) {
		@options.map { v =>
			@displayInput(labelClass = "radio-inline" + (if (disabled) " disabled" else ""), v, id, name, value, htmlArgs)
		}
	} else {
		@options.map { v =>
			<div class="radio @if(disabled){disabled}">
				@displayInput(labelClass = "", v, id, name, value, htmlArgs)
			</div>
		}
	}
	@if(readonly) {
		@value.map { v =>
			<input type="hidden" name="@name" value="@v"/>
		}
	}
}