@(field: play.api.data.Field, options: Seq[(String,String)], args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@argsMap = @{ args.toMap }
@readonly = @{ ArgsMap.hasBool(argsMap, 'readonly) }
@multiple = @{ ArgsMap.hasBool(argsMap, 'multiple) }

@input(field, Args.withDefault(args, 'class -> "form-control", 'disabled -> readonly):_*) { (id, name, value, htmlArgs) =>
    @defining( if(multiple) "%s[]".format(name) else name ) { selectName =>
    @defining( ( !field.indexes.isEmpty && multiple ) match {
            case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
			case _ if multiple && value.isDefined => value.get.split(",").toSet
			case _ => value.toSet
    }){ values =>
        <select id="@id" name="@selectName" @toHtmlArgs(htmlArgs)>
            @argsMap.get('_default).map { defaultValue =>
                <option class="blank" value="">@defaultValue</option>
            }
            @options.map { v =>
                <option value="@v._1" @if(values.contains(v._1)){selected}>@v._2</option>
            }
        </select>
		@if(readonly) {
			@value.orElse(argsMap.get('value)).map { v =>
				<input type="hidden" name="@selectName" value="@v"/>
			}
		}
	}}
}