@(field: play.api.data.Field, options: Seq[(String,String)], args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)
@argsMap = @{ args.toMap }
@readonly = @{ ArgsMap.isTrue(argsMap, 'readonly) }
@disabled = @{ readonly || ArgsMap.isTrue(argsMap, 'disabled) }
@multiple = @{ ArgsMap.isTrue(argsMap, 'multiple) }

@readonlyWrapper(selectName: String, value: Option[String])(content: Html) = {
	@if(argsMap.contains('readonly)) {
		<div class="select-group">
			@content
			<input type="hidden" name="@selectName" value="@{value.getOrElse(options(0)._1)}" @if(!disabled){disabled}/>
		</div>
	} else { @content }
}
@input(field, Args.withDefault(args, 'class -> "form-control", 'disabled -> disabled):_*) { (id, name, value, htmlArgs) =>
    @defining( if(multiple) "%s[]".format(name) else name ) { selectName =>
    @defining( ( !field.indexes.isEmpty && multiple ) match {
            case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
			case _ if multiple && value.isDefined => value.get.split(",").toSet
			case _ => value.toSet
    }){ values =>
		@readonlyWrapper(selectName, value) {
	        <select id="@id" name="@selectName" @toHtmlArgs(htmlArgs)>
	            @argsMap.get('_default).map { defaultValue =>
	                <option class="blank" value="">@defaultValue</option>
	            }
	            @options.map { v =>
	                <option value="@v._1" @if(values.contains(v._1)){selected}>@v._2</option>
	            }
	        </select>
		}
	}}
}