@()

@main("Change Log", tab = "changelog") {
	
	<div class="row changelog">
		<div class="col-md-12">

			<h1 class="page-header">Play-Bootstrap3 Change Log</h1>
	
			<h2>0.2-SNAPSHOT</h2>
			<p class="lead">In development...</p>
			<ul>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="/multifield"><code>b3.multifield</code></a> helper for multiple fields within the same <code>form-group</code></li>
				<li><a href="https://github.com/adrianhurt/play-bootstrap3/issues/3" target="_blank">#3</a> <code>_showLabel</code> attribute for inline fields</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <code>b3.actions</code> helper</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <code>b3.hidden</code> helper</li>
			</ul>
	
			<h2>0.1.1</h2>
			<p class="lead">Released 25 September 2014</p>
			<ul>
				<li><a href="https://github.com/adrianhurt/play-bootstrap3/pull/1" target="_blank">#1</a> Added WebJar dependencies</li>
				<li><a href="https://github.com/adrianhurt/play-bootstrap3/issues/2" target="_blank">#2</a> Allow Html for radio buttons</li>
			</ul>
	
			<h2>0.1 First version</h2>
			<p class="lead">Released 17 September 2014</p>
			
		</div>
	</div>
}