@()
@import tags._

@main("Change Log", tab = "changelog") {
	
	<div class="row changelog">
		<div class="col-md-12">

			<h1 id="changelog" class="page-header">Play-Bootstrap3 Change Log</h1>
			
			<h2 id="0-4-snapshot">0.4 - <em>It can be better!</em></h2>
			<p class="lead">Released 6 February 2015</p>
			<ul>
				<li><span class="glyphicon glyphicon-chevron-right"></span> Refactor and simplifications:
					<ul>
						<li><span class="glyphicon glyphicon-chevron-right"></span> Improvements and simplification with implicits for mixed forms. Now there is no need for declare the field constructor and language explicitly for each helper</li>
						<li><span class="glyphicon glyphicon-chevron-right"></span> The use of <code>helper.FieldConstructor</code> and <code>helper.FieldElements</code> has been reimplemented to use now <code>b3.B3FieldConstructor</code>  and <code>b3.B3FieldInfo</code></li>
					</ul>
				</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="@routes.Application.docsMaster#helpers-validation-states" target="_blank">validation states and feedback icons</a> support</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="@routes.Application.docsMaster#aria" target="_blank">WAI-ARIA</a> support</li>
				<li>
					<span class="glyphicon glyphicon-trash"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/13" target="_blank">#13</a>
					Improvements with the <a href="@routes.Application.docsMaster#arguments-labels" target="_blank">rendering of labels</a>. The argument <code>'_showLabel</code> for inline forms has been
					removed and now you have <code>'_hideLabel</code> to do the opposite, and <code>'_hiddenLabel</code> as a shortcut for <code>'_label</code>
					and <code>'_hideLabel</code>
				</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="@routes.Application.docsMaster#arguments-optional" target="_blank">Optional arguments</a> support. Every argument with <code>None</code> value is now ignored</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/18" target="_blank">#18</a> Added the possibility to omit the label for the <a href="@routes.Application.docsMaster#more-static" target="_blank"><code>b3.static</code></a> helper</li>
			</ul>
			
			@lastMigrationGuide()
	
			<h2 id="0-3">0.3 - <em>Let's do simpler</em></h2>
			<p class="lead">Released 6 December 2014</p>
			<ul>
				<li><span class="glyphicon glyphicon-chevron-right"></span> Refactor and simplifications:
					<ul>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.horizontal.form</code> and <code>b3.inline.form</code>. Now use simply <a href="@routes.Application.docsMaster#forms" target="_blank"><code>b3.form</code></a></li>
						<li><span class="glyphicon glyphicon-chevron-right"></span> Now each <code>formWithFC</code> has been renamed to simply <code>form</code></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.vertical.static</code> and <code>b3.horizontal.static</code>. Now use simply <a href="@routes.Application.docsMaster#more-static" target="_blank"><code>b3.static</code></a></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.horizontal.submit</code>. Now use simply <a href="@routes.Application.docsMaster#more-submit" target="_blank"><code>b3.submit</code></a></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.horizontal.reset</code>. Now use simply <a href="@routes.Application.docsMaster#more-reset" target="_blank"><code>b3.reset</code></a></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.actions</code> and <code>b3.horizontal.actions</code>. They are substituted by <a href="@routes.Application.docsMaster#more-free" target="_blank"><code>b3.free</code></a>
					</ul>
				</li>
				<li><span class="glyphicon glyphicon-plus"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/10" target="_blank">#10</a> Added <a href="@routes.Application.docsMaster#more-buttontype" target="_blank"><code>b3.buttonType</code></a> and <a href="@routes.Application.docsMaster#more-button" target="_blank"><code>b3.button</code></a> helpers</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="@routes.Application.docsMaster#helper-hiddens" target="_blank"><code>b3.hiddens</code></a> helper</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> Improvements with the <code>'_default</code> value for <a href="@routes.Application.docsMaster#helper-select" target="_blank"><code>b3.select</code></a> helper</li>
			</ul>
			@migrationGuide("0.3") {
				<strong>Changes in helper's names:</strong> in 0.3, the names and the structure of some helpers have been simplified.
				If you want to get this working with the new version you need to do the following:
				<ul>
					<li>
						For every <code>static</code>, <code>submit</code>, <code>reset</code> and <code>actions</code> helper within a <code>formWithFC</code> now need to include explicitly the corresponding field constructor
						For example:<br><code>@@b3.submit('class -> "btn btn-default"){ Send }</code> &rarr; <code>@@b3.submit('class -> "btn btn-default"){ Send }(fc)</code>
					</li>
				</ul>
				And then, replace the following (the first 2 ones in first place):
				<ol>
					<li><code>b3.horizontal.form(</code> &rarr; <code>b3.form(</code> <small>(its important to add the <code>(</code> to avoid replace <code>formWithFC</code> as well)</small></li>
					<li><code>b3.inline.form(</code> &rarr; <code>b3.form(</code> <small>(its important to add the <code>(</code> to avoid replace <code>formWithFC</code> as well)</small></li>
					<li><code>b3.vertical.formWithFC</code> &rarr; <code>b3.vertical.form</code></li>
					<li><code>b3.horizontal.formWithFC</code> &rarr; <code>b3.horizontal.form</code></li>
					<li><code>b3.inline.formWithFC</code> &rarr; <code>b3.inline.form</code></li>
					<li><code>b3.clear.formWithFC</code> &rarr; <code>b3.clear.form</code></li>
					<li><code>b3.vertical.static</code> &rarr; <code>b3.static</code></li>
					<li><code>b3.horizontal.static</code> &rarr; <code>b3.static</code></li>
					<li><code>b3.horizontal.submit</code> &rarr; <code>b3.submit</code></li>
					<li><code>b3.horizontal.reset</code> &rarr; <code>b3.reset</code></li>
					<li><code>b3.actions</code> &rarr; <code>b3.free()</code></li>
					<li><code>b3.horizontal.actions</code> &rarr; <code>b3.free()</code></li>
				</ol>
			}
			
			
			<h2 id="0-2-snapshot">0.2 - <em>Multifield</em></h2>
			<p class="lead">Released 1 December</p>
			<ul>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="@routes.Application.multifield" target="_blank"><code>b3.multifield</code></a> helper for multiple fields within the same <code>form-group</code></li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/pull/9" target="_blank">#9</a> (<a href="https://github.com/adrianhurt/play-bootstrap3/issues/8" target="_blank">#8</a>) <a href="@routes.Application.docsMaster#helper-password" target="_blank"><code>b3.password</code></a> helper now avoid displaying its value at the DOM when a validation fails</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/3" target="_blank">#3</a> <code>_showLabel</code> attribute for inline fields</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="@routes.Application.docsMaster#helper-hidden" target="_blank"><code>b3.hidden</code></a> and <a href="@routes.Application.docsMaster#more-reset" target="_blank"><code>b3.reset</code></a> helpers</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added helpers for the new HTML5 inputs</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="@routes.Application.docsMaster#more-free" target="_blank"><code>b3.actions</code></a> helper</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/4" target="_blank">#4</a> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/5" target="_blank">#5</a> Some cleaning and fixing bugs</li>
			</ul>
	
			<h2 id="0-1-1">0.1.1 - <em>A little bit more</em></h2>
			<p class="lead">Released 25 September 2014</p>
			<ul>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/pull/1" target="_blank">#1</a> Added WebJar dependencies</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/2" target="_blank">#2</a> Allow Html for radio buttons</li>
			</ul>
	
			<h2 id="0-1">0.1 - <em>First version</em></h2>
			<p class="lead">Released 17 September 2014</p>
			
		</div>
	</div>
}