@()

@main("Change Log", tab = "changelog") {
	
	<div class="row changelog">
		<div class="col-md-12">

			<h1 id="changelog" class="page-header">Play-Bootstrap3 Change Log</h1>
	
			<h2 id="0-3-snapshot">0.3-SNAPSHOT - <em>Let's do simpler</em></h2>
			<p class="lead">In development...</p>
			<ul>
				<li><span class="glyphicon glyphicon-chevron-right"></span> Refactor and simplifications:
					<ul>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.horizontal.form</code> and <code>b3.inline.form</code>. Now use simply <a href="/docs#forms"><code>b3.form</code></a></li>
						<li><span class="glyphicon glyphicon-chevron-right"></span> Now each <code>formWithFC</code> has been renamed to simply <code>form</code></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.vertical.static</code> and <code>b3.horizontal.static</code>. Now use simply <a href="/docs#more-static"><code>b3.static</code></a></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.horizontal.submit</code>. Now use simply <a href="/docs#more-submit"><code>b3.submit</code></a></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.horizontal.reset</code>. Now use simply <a href="/docs#more-reset"><code>b3.reset</code></a></li>
						<li><span class="glyphicon glyphicon-trash"></span> Removed <code>b3.actions</code> and <code>b3.horizontal.actions</code>. They are substituted by <a href="/docs#more-free"><code>b3.free</code></a>
					</ul>
				</li><li><span class="glyphicon glyphicon-plus"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/10" target="_blank">#10</a> Added <a href="/docs#more-buttontype"><code>b3.buttonType</code></a> and <a href="/docs#more-button"><code>b3.button</code></a> helpers</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="/docs#helper-hiddens"><code>b3.hiddens</code></a> helper</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> Improvements with the <code>'_default</code> value for <a href="/docs#helper-select"><code>b3.select</code></a> helper</li>
			</ul>
			
			<h2 id="0-2-snapshot">0.2 - <em>Multifield</em></h2>
			<p class="lead">Released 1 December</p>
			<ul>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="/multifield"><code>b3.multifield</code></a> helper for multiple fields within the same <code>form-group</code></li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/pull/9" target="_blank">#9</a> (<a href="https://github.com/adrianhurt/play-bootstrap3/issues/8" target="_blank">#8</a>) <a href="/docs#helper-password"><code>b3.password</code></a> helper now avoid displaying its value at the DOM when a validation fails</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/3" target="_blank">#3</a> <code>_showLabel</code> attribute for inline fields</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="/docs#helper-hidden"><code>b3.hidden</code></a> and <a href="/docs#more-reset"><code>b3.reset</code></a> helpers</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added helpers for the new HTML5 inputs</li>
				<li><span class="glyphicon glyphicon-plus"></span> Added <a href="/docs#more-free"><code>b3.actions</code></a> helper</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/4" target="_blank">#4</a> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/5" target="_blank">#5</a> Some cleaning and fixing bugs</li>
			</ul>
	
			<h2 id="0-1-1">0.1.1 - <em>A bit more</em></h2>
			<p class="lead">Released 25 September 2014</p>
			<ul>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/pull/1" target="_blank">#1</a> Added WebJar dependencies</li>
				<li><span class="glyphicon glyphicon-chevron-right"></span> <a href="https://github.com/adrianhurt/play-bootstrap3/issues/2" target="_blank">#2</a> Allow Html for radio buttons</li>
			</ul>
	
			<h2 id="0-1">0.1 - <em>First version</em></h2>
			<p class="lead">Released 17 September 2014</p>
			
		</div>
	</div>
}