@(fooReadonlyForm: Form[controllers.Application.ReadonlyDemoData], data: Option[controllers.Application.ReadonlyDemoData])

@import tags._
@implicitFC = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@fruits = @{ Seq("A"->"Apples","P"->"Pears","B"->"Bananas") }


@main("Demo for Readonly Attributes", tab = "readonly") {
	
	<h1 id="readonly-attributes" class="page-header">Demo for Readonly Attributes</h1>
	<p class="lead">
		This page its an example to show how to use the <strong>readonly attribute</strong> for
		<code>checkbox</code>, <code>radio</code> and <code>select</code> helpers.
	</p>
	
	<p>Taken from the docs:</p>
	<div class="alert alert-info">
		@docsReadonlyAttributes()
	</div>
	
	<p>
		This demo shows a form with a text field that is always editable and readonly <code>checkbox</code>,
		<code>radio</code> and <code>select</code> fields. Submit the form to see that the readonly fields are
		correctly handled. You can "unlock" or "lock" them with the corresponding button using javascript.
	</p>

	@data.map { d =>
		<div class="alert alert-success" role="alert">
			<p>Bound data:</p>
			<ul>
				<li><strong>Input Text:</strong> @d.text</li>
				<li><strong>Checkbox:</strong> @d.checkbox</li>
				<li><strong>Radio Group:</strong> @d.radio</li>
				<li><strong>Select:</strong> @d.select</li>
			</ul>
		</div>
	}

	@b3.form(routes.Application.handleReadonly, 'id -> "form-readonly") {

		@bsExampleWithCode {
			@b3.text( fooReadonlyForm("text"), '_label -> "Always editable", '_class -> "always-editable", 'value -> "demo text", '_showConstraints -> true, '_showIconValid -> data.isDefined, '_showIconOnError -> true, 'placeholder -> "A simple text..." )
			@b3.checkbox( fooReadonlyForm("checkbox"), '_text -> "Checkbox", 'value -> true, 'readonly -> true )
			@b3.radio( fooReadonlyForm("radio"), options = Seq("M"->"Male","F"->"Female"), 'value -> "M", '_label -> "Radio Group", 'readonly -> true )
			@b3.select( fooReadonlyForm("select"), options = fruits, '_label -> "Select", 'value -> "A", 'readonly -> true )
			@b3.free() {
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Submit me!</button>
				<a class="btn btn-primary btn-readonly-unlock locked">Unlock readonly fields</a>
			}
		}{
			@@b3.text( fooReadonlyForm("text"), '_label -> "Always editable", '_class -> "always-editable", 'value -> "demo text", '_showConstraints -> true, '_showIconValid -> data.isDefined, '_showIconOnError -> true, 'placeholder -> "A simple text..." )
			@@b3.checkbox( fooReadonlyForm("checkbox"), '_text -> "Checkbox", 'value -> true, 'readonly -> true )
			@@b3.radio( fooReadonlyForm("radio"), options = Seq("M"->"Male","F"->"Female"), 'value -> "M", '_label -> "Radio Group", 'readonly -> true )
			@@b3.select( fooReadonlyForm("select"), options = fruits, '_label -> "Select", 'value -> "A", 'readonly -> true )
			@@b3.free() {
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Submit me!</button>
				<a class="btn btn-primary btn-readonly-unlock locked">Unlock readonly fields</a>
			}
		}
	}
	
	<p>
		Check
		<a target="_blank" href="https://github.com/adrianhurt/play-bootstrap/blob/master/sample/app/assets/javascripts/main.coffee">here</a>
		the CoffeScript code used for lock and unlock the fields.
	</p>
}