@(current: Option[String] = None)
@list = @{ Seq("0.4", "0.3", "0.2", "0.1.x") }
@currentVersion = @{ current.getOrElse(list.head)}
@isOlder = @{ currentVersion != list.head }
<div class="docs-select-version">
	<div class="dropdown">
		<button class="btn btn-xs @if(isOlder){btn-warning}else{btn-default} dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			@currentVersion
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			@list.headOption.map { version =>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.docsMaster">@version</a></li>
			}
			@list.tail.map { version =>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.docs(version)">@version</a></li>
			}
		</ul>
	</div>
	<p>Browse versions</p>
</div>