@()
@migrationGuide("0.4") {
	<p>
		The <strong>mixed forms</strong> now require a HTML given a <code>B3FieldConstructor</code> that you can declare it as implicit, so
		there is no need to declare the <code>B3FieldConstructor</code> and <code>Lang</code> explicitly for every helper within the mixed form.
		Then a code like:
	</p>
	@code {
		@@b3.inline.form(routes.Application.index) { (ifc, lang) =>
			@@b3.email( fooForm("email"), '_label -> "Email", 'placeholder -> "example@@mail.com" )(ifc, lang)
			@@b3.password( fooForm("password"), '_label -> "Password", 'placeholder -> "Password" )(ifc, lang)
			@@b3.submit('class -> "btn btn-default"){ Sign in }(ifc)
		}
	}
	<p>
		Is now simplified to:
	</p>
	@code {
		@@b3.inline.form(routes.Application.index) { implicit ifc =>
			@@b3.email( fooForm("email"), '_label -> "Email", 'placeholder -> "example@@mail.com" )
			@@b3.password( fooForm("password"), '_label -> "Password", 'placeholder -> "Password" )
			@@b3.submit('class -> "btn btn-default"){ Sign in }
		}
	}
				
	<p>
		It also happens with <code>b3.multifield</code>. Let's see how we should modify the <code>b3.datepicker</code> example that
		previously was:
	</p>
	@code {
		@@(startField: play.api.data.Field, startArgs: (Symbol,Any)*)(endField: play.api.data.Field, endArgs: (Symbol,Any)*)(args: (Symbol,Any)*)(implicit fc: b3.B3FieldConstructor, lang: play.api.i18n.Lang)
		@@b3.multifield( startField, endField )(args:_*) { (cfc, lang) =>
			<div class="input-daterange input-group" @@toHtmlArgs(b3.Args.inner(args).toMap)>
				@@b3.text(startField, startArgs:_*)(cfc, lang)
				<span class="input-group-addon">to</span>
				@@b3.text(endField, endArgs:_*)(cfc, lang)
			</div>
		}
	}
	<p>
		And now would be:
	</p>
	@code {
		@@(startField: play.api.data.Field, startArgs: (Symbol,Any)*)(endField: play.api.data.Field, endArgs: (Symbol,Any)*)(args: (Symbol,Any)*)(implicit fc: b3.B3FieldConstructor, lang: play.api.i18n.Lang)
		@@b3.multifield( startField, endField )(args:_*) { implicit cfc =>
			<div class="input-daterange input-group" @@toHtmlArgs(b3.Args.inner(args).toMap)>
				@@b3.text(startField, startArgs:_*)
				<span class="input-group-addon">to</span>
				@@b3.text(endField, endArgs:_*)
			</div>
		}
	}
				
	<p>
		In addition, the rendering of labels have been reimplemented. Now there are 3 arguments to parametrize them:
		<ul>
			<li><code>_label</code>: the text for the label.</li>
			<li>
				<code>_hideLabel</code>: a boolean indicating if the label must be hidden. It will be rendered into the DOM, but
				it will add the class <code>sr-only</code> to the label to hide it.
			</li>
			<li><code>_hiddenLabel</code>: a shortcut to use a hidden label instead of using <code>_label</code> and <code>_hideLabel</code>.</li>
		</ul>
		Thus, you must take into account these changes for labels in <strong>inline forms</strong>:
		<ul>
			<li><code>'_label</code> &rarr; <code>'_hiddenLabel</code></li>
			<li><code>'_label</code> with <code>'_showLabel</code> &rarr; simply <code>'_label</code></li>
		</ul>
		And you can ommit every <code>'_label -> None</code> because it will be ignored.
	</p>
				
	<p>
		Finally, take into account now every argument with a <code>None</code> value will be ommited (see more about <a href="/docs#arguments-optional" target="_blank">Optional arguments</a> support).
	</p>
}
@migrationGuide("0.4.2-SNAPSHOT") {
	<p>
		The forms now always include the required class (<code>form-vertical</code>, <code>form-horizontal</code>, ...) instead of adding it simply as default.
    This means that if you need to add a custom class to a form you can do it with simply <code>'class -> "another-class"</code> instead of <code>'class -> "form-vertical another-class"</code>.
	</p>
}