@()
@migrationGuide("Play 2.4") {
	<p>
		Basically, the only difference is that every <code>Lang</code> object has been replaced with new <code>Messages</code> (note that class <code>Messages</code> has changed in Play 2.4).
		That means you need to follow the section about <a href="https://www.playframework.com/documentation/2.4.x/Migration24#I18n" target="_blank">I18n</a> from the
		<a href="https://www.playframework.com/documentation/2.4.x/Migration24" target="_blank">Play 2.4 Migration Guide</a> and change every <code>Lang</code> for <code>Messages</code> in
		your own custom helpers.
	</p>
	<p>
		Of course, you will need to use the <code>0.4.4-P24-SNAPSHOT</code> version.
	</p>
}