@()
<div class="alert alert-warning" role="alert">
	<strong>Changes in helper's names:</strong> if you are using the 0.2-SNAPSHOT version you may have errors with some helpers.
	Sorry for that, I decided to simplify the names and the structure of some helpers. If you are in a hurry, I have created
	a new temporal SNAPSHOT with the old version. You only have to use <code>0.2-B-SNAPSHOT</code> and it will work again as it was.
	You can see the full changelog <a href="/changelog">here</a> but if you want to get this working again you need to do
	the following:
	<ul>
		<li>
			For every <code>static</code>, <code>submit</code>, <code>reset</code> and <code>actions</code> helper within a <code>formWithFC</code> now need to include explicitly the corresponding field constructor
			For example:<br><code>@@b3.submit('class -> "btn btn-default"){ Send }</code> &rarr; <code>@@b3.submit('class -> "btn btn-default"){ Send }(fc)</code>
		</li>
	</ul>
	And then, replace the following (the first 2 ones in first place):
	<ol>
		<li><code>b3.horizontal.form(</code> &rarr; <code>b3.form(</code> <small>(its important to add the <code>(</code> to avoid replace <code>formWithFC</code> as well)</small></li>
		<li><code>b3.inline.form(</code> &rarr; <code>b3.form(</code> <small>(its important to add the <code>(</code> to avoid replace <code>formWithFC</code> as well)</small></li>
		<li><code>b3.vertical.formWithFC</code> &rarr; <code>b3.vertical.form</code></li>
		<li><code>b3.horizontal.formWithFC</code> &rarr; <code>b3.horizontal.form</code></li>
		<li><code>b3.inline.formWithFC</code> &rarr; <code>b3.inline.form</code></li>
		<li><code>b3.clear.formWithFC</code> &rarr; <code>b3.clear.form</code></li>
		<li><code>b3.vertical.static</code> &rarr; <code>b3.static</code></li>
		<li><code>b3.horizontal.static</code> &rarr; <code>b3.static</code></li>
		<li><code>b3.horizontal.submit</code> &rarr; <code>b3.submit</code></li>
		<li><code>b3.horizontal.reset</code> &rarr; <code>b3.reset</code></li>
		<li><code>b3.actions</code> &rarr; <code>b3.free()</code></li>
		<li><code>b3.horizontal.actions</code> &rarr; <code>b3.free()</code></li>
	</ol>
</div>