@(version: String)(content: Html)
@versionId = @{ version.replaceAll("(\\.|\\s)", "_") }
<div class="panel panel-info">
	<div class="panel-heading" role="tab" id="migration_@versionId">
		<h4 class="panel-title">
			<a class="collapsed" data-toggle="collapse" href="#collapse_@versionId" aria-expanded="false" aria-controls="collapse_@versionId">
				@version Migration guide
				<i class="fa fa-caret"></i>
			</a>
		</h4>
	</div>
	<div id="collapse_@versionId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="migration_@versionId">
		<div class="panel-body">
			@content
		</div>
	</div>
</div>